.play-button {
    width: 48px;
    /* Adjust as needed */
    height: 48px;
    /* Adjust as needed */
    background-color: #1ece5c;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 4.8rem;
    /* Final position */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.play-button.visible {
    opacity: 1;
    transform: translateY(0);
}

.play-button:hover {
    background-color: #1ed760;
    transform: scale(1.05);
   
}